adf_code/pipeline/ADLS_TO_SQL.json
{
    "name": "ADLS_TO_SQL",
    "properties": {
        "activities": [
            {
                "name": "Read_config",
                "type": "Lookup",
                "dependsOn": [],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "source": {
                        "type": "JsonSource",
                        "storeSettings": {
                            "type": "AzureBlobFSReadSettings",
                            "recursive": true,
                            "enablePartitionDiscovery": false
                        },
                        "formatSettings": {
                            "type": "JsonReadSettings"
                        }
                    },
                    "dataset": {
                        "referenceName": "DS_Json",
                        "type": "DatasetReference",
                        "parameters": {
                            "container_name": {
                                "value": "@pipeline().globalParameters.configcontainer",
                                "type": "Expression"
                            },
                            "folder_name": {
                                "value": "@pipeline().parameters.config_folder",
                                "type": "Expression"
                            },
                            "file_name": {
                                "value": "@pipeline().parameters.config_name",
                                "type": "Expression"
                            }
                        }
                    },
                    "firstRowOnly": false
                }
            },
            {
                "name": "Set file_name",
                "type": "SetVariable",
                "dependsOn": [],
                "policy": {
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "variableName": "file_name",
                    "value": {
                        "value": "@pipeline().parameters.file_name",
                        "type": "Expression"
                    }
                }
            },
            {
                "name": "Set file_config",
                "type": "Filter",
                "dependsOn": [
                    {
                        "activity": "Read_config",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    },
                    {
                        "activity": "Set file_name",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    },
                    {
                        "activity": "Set file_path",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "items": {
                        "value": "@activity('Read_config').output.value[0].possible_files",
                        "type": "Expression"
                    },
                    "condition": {
                        "value": "@startswith(variables('file_name'), item().file_starts_with)",
                        "type": "Expression"
                    }
                }
            },
            {
                "name": "Set file_path",
                "type": "SetVariable",
                "dependsOn": [],
                "policy": {
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "variableName": "file_name",
                    "value": {
                        "value": "@pipeline().parameters.file_folder",
                        "type": "Expression"
                    }
                }
            },
            {
                "name": "Insert_to_audit_table",
                "type": "Lookup",
                "dependsOn": [
                    {
                        "activity": "Set file_config",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "source": {
                        "type": "AzureSqlSource",
                        "sqlReaderQuery": {
                            "value": "INSERT dbo.Audit_table (pipeline_run_id, pipeline_start_ts, processed_file_name, processing_step, status, processing_ts)\n    VALUES (@{pipeline().RunId}, @{utcNow()}, @{pipeline().parameters.file_name}, 'START', 'TRIGGERED', @{utcNow()})\nGO",
                            "type": "Expression"
                        },
                        "queryTimeout": "02:00:00",
                        "partitionOption": "None"
                    },
                    "dataset": {
                        "referenceName": "DS_AzureSqlTable",
                        "type": "DatasetReference",
                        "parameters": {
                            "schema_name": "dbo",
                            "table_name": "Audit"
                        }
                    },
                    "firstRowOnly": false
                }
            }
        ],
        "parameters": {
            "config_name": {
                "type": "string"
            },
            "config_folder": {
                "type": "string"
            },
            "file_folder": {
                "type": "string"
            },
            "file_name": {
                "type": "string"
            }
        },
        "variables": {
            "file_name": {
                "type": "String"
            }
        },
        "annotations": [],
        "lastPublishTime": "2023-08-08T11:43:22Z"
    },
    "type": "Microsoft.DataFactory/factories/pipelines"
}